:root {
    --color1: #31473A; 
    --color2: #4B6A5D; 
    --color3: #EDF4F2; 
    --color4: #8EB8A4; 
    --color5: #1F3C2B; 
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color3);
    color: var(--color5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color1);
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--color2);
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    gap: 10px;  
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
    width: 200px; 
}

.search-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--color4);
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.search-form button:hover {
    background-color: var(--color2);
}

.wishlist-button {
    font-size: 2rem;  
    color: #4B6A5D; 
    cursor: pointer; 
    border: none; 
    outline: none; 
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

#theme-icon {
    font-size: 1.5rem;  
    cursor: pointer;
    margin: 0; 
}

.wishlist-button,
#theme-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem; 
    height: 2rem; 
}

.wishlist-button:hover,
#theme-icon:hover {
    color: var(--color2); 
}

.header-image {
    text-align: center;
    margin: 1rem 0;
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
}

.hero {
    height: 50vh;
    background: linear-gradient(90deg, hsla(150, 60%, 50%, 1) 0%, hsla(180, 70%, 40%, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color5);
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color4);
}

.hero p {
    font-size: 1.5rem;
    color: var(--color4);
}

.trending-products {
    padding: 2
